:root {
    --computadores: 0, 98, 49;
    --notebook: 48, 1, 107;
    --tablet: 105, 53, 49;
    --projetor: 249, 4, 6;
    --fontes: 46, 102, 165;
    --tv: 206, 56, 8;
    --impressora: 204, 8, 104;
    --nobreak: 236, 165, 0;
    --azul: #003399;
    --macipadiphone: 105, 53, 49;
    --rodape: #FE9833;
    --computador-servico: #339866;
    --notebook-servico: #023398;
    --tablet-celular-servico: #cb6633;
    --projetor-servico: #fe0000;
    --fonte-servico: #666666;
    --tv-monitor-servico: #FE6633;
    --impressora-servico: #FE0098;
    --nobreak-servico: #FDCB33;
    --apple-servico: #3398FE;
    --cor-fonte-contatos: #439ACF;
}

body {
    font-family: 'Titillium Web', sans-serif !important
}


/* ------------ MENU TOP ------------*/

.lp-container {
    max-width: 1240px;
}

.lp-nav-ul {
    flex-basis: content;
}

.lp-nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 10px;
    font-size: 14px;

    color: white;
    font-weight: 700;
    text-transform: uppercase;

    text-decoration: none;
}

.lp-nav-link:hover {
    color: var(--azul);
    background-color: white;
    text-decoration: none;
}

.lp-nav-active {
    color: white;
    background-color: var(--rodape);
    text-decoration: none;
}

.lp-breadcrumb,
.lp-breadcrumb-mobile,
.lp-breadcrumb a {
    text-transform: uppercase !important;
    text-decoration: none !important;
    font-size: 14px !important;
    color: var(--azul) !important;
}


.menu-top li {
    /* position: relative; */
    padding: 10px;
}

.menu-top li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.menu-top-icon {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: var(--azul);
}

.menu-top-btn {
    background-color: var(--azul);
    color: white;
    font-weight: 700;
}

.menu-top-btn:hover{
    background-color: white;
    color: var(--azul);
    box-shadow:0px 0px 0px 1px var(--azul) inset;
}

.menu-top-icon:hover {
    color: var(--rodape)
}

.menu-top-active {
    color: white;
    background-color: var(--rodape);
}

.lupa_login {
    /* margin-left: 15px; */
    /* margin-right: 10px; */
    height: 20px;
    width: 20px;
}

.telefone_menu {
    height: 15px;
    width: 15px;
}

.face_login {
    /* margin-left: 15px; */
    /* margin-right: 10px; */
    height: 20px;
    width: 25px;
}

/* ------------ MENU TOP END ------------*/



/* ------------ RODAPE ------------*/


.lp-rodape {
    background: var(--rodape);
    color: white;
}

.lp-titulo-rodape {
    font-weight: 700;
    padding-bottom: 5px;
}

.lista-rodape li a {
    text-decoration: none !important;
    color: white;
}


.lp-logo-rodape {
    display: block;
    height: 40px;
    width: 40px;
}

.lp-submenu-rodape {
    margin-left: 20px;
}


/* ------------ SUBMENU ------------*/



.lp-nav-ul ul.submenu {
    display: none;
    position: absolute;
    top: 62px;
    left: auto;
    background: #fff;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 900px;
    z-index: 9999
}

.lp-nav-ul li:hover ul {
    display: block
}

.lp-nav-ul ul.submenu li a {
    display: block;
    width: 25%;
    color: var(--azul);
    padding: 5px 0 0 0;
    font-size: .8em;
    border-left: 1px solid #eee;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #333;
    float: left;
    text-align: center;
}

.lp-nav-ul ul.submenu li:nth-child(1),
.lp-nav-ul ul.submenu li:nth-child(2),
.lp-nav-ul ul.submenu li:nth-child(3),
.lp-nav-ul ul.submenu li:nth-child(4) {
    margin-bottom: 10px
}

.submenu .img-categoria {
    height: 100px;
    margin: 20px 0 15px 0;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s
}

.lp-nav-ul ul.submenu li a:hover .img-categoria {
    opacity: .9;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.lp-nav-ul ul.submenu li a svg {
    margin-top: 1px;
    fill: #fff;
    float: left;
    width: 20px;
    height: auto;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s
}

.lp-nav-ul ul.submenu li a:hover svg {
    fill: rgb(var(--nobreak))
}

.lp-nav-ul ul.submenu li a span {
    text-align: left;
    float: left;
    width: 100%;
    padding: 2px 5px;
    text-align: center;
    line-height: 30px;
    color: #fff
}

.submenu .computadores a span {
    background: rgb(var(--computadores))
}

.submenu .notebooks a span {
    background: rgb(var(--notebook))
}

.submenu .tablets-e-celulares a span {
    background: rgb(var(--tablet))
}

.submenu .projetores a span {
    background: rgb(var(--projetor))
}

.submenu .fontes-de-alimentacao a span {
    background: rgb(var(--fontes))
}

.submenu .tv-monitor a span {
    background: rgb(var(--tv))
}

.submenu .impressoras a span {
    background: rgb(var(--impressora))
}

.submenu .no-breaks a span {
    background: rgb(var(--nobreak))
}

.lp-nav-ul ul.submenu li.no-breaks a:hover .submenu .macipadiphone a span {
    background: rgb(var(--macipadiphone))
}

/* ------------ SUBMENU END------------*/


/* ------------ HOME ------------*/


.lp-home-gifs h6 {
    text-align: center;
    color: var(--azul);
    font-weight: 700;
}

/* ------------ HOME END ------------*/

/* ------------ PAGINAS ------------*/

.lp-paragrafo {
    color: var(--azul);
    /* font-weight: 300; */
    font-size: 16px;
}

.lp-paragrafo-info {
    color: var(--azul);
    /* font-weight: 700; */
    font-size: 14px;
    line-height: 200%;
}

.lp-paragrafo-sublinhado {
    color: var(--azul);
    font-weight: 700;
    font-size: 20px;
    text-decoration: underline;
}



.lp-titulo-paragrafo {
    color: var(--azul);
    font-weight: 900;
    font-size: 18px;
}

.lp-link-veja-mais {
    color: var(--rodape) !important;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

/* ------------ PAGINAS END ------------*/



/* ------------ TABS PAGINAS ------------*/

.lp-tab-servicos {
    transform: rotate(-90deg);
}

.lp-lista-tab {
    color: var(--azul);
    list-style: disc;
}

.tablinks {
    color: gray;
}

/* Style the tab */
.tab-lp {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    /* background-color: #f1f1f1; */
}

/* Style the buttons that are used to open the tab content */
.tab-lp button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab-lp button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab-lp button.active {
    background-color: var(--rodape);
    color: white;
    font-weight: 700;
}

/* Style the tab content */
.tabcontent-lp {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-bottom: none;
    border-right: none;
}

.tabcontent-lp {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ------------ TABS PAGINAS END ------------*/



/* ------------ MENU MOBILE ------------*/

/* .lp-checkbtn-menu-mobile {
    font-size: 30px;
    color: var(--azul);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
} */

/* #lp-input-check {
    display: none;
} */

.lp-menu-mobile {
    display: none;
}


/* ------------ MENU MOBILE END ------------*/


@media(max-width: 1100px) {

    .lp-nav-desktop {
        display: none;
    }

    .lp-menu-mobile {
        display: block;
    }

    .lp-item-menu-mobile li {
        padding: 10px;
        /* border: solid 1px; */
    }

    .lp-item-menu-mobile li a {
        text-transform: uppercase;
        text-decoration: none;
        color: white;
    }

    .lp-navbar-mobile {
        background: var(--azul);
    }
}

/* ------------ MENU ASSISTÊNCIA TÉCNICA ------------*/


.lp-imagem-texto-assistencia {
    height: 40px;
    width: 60px;
}

.lp-imagem-texto-assistencia-projetor {
    height: 40px;
    width: 95px;
}

.lp-imagem-texto-assistencia-fonte {
    height: 40px;
    width: 95px;
}

.lp-background-assistencia-computador {
    background: var(--computador-servico);
    color: white;
}

.lp-background-assistencia-notebook {
    background: var(--notebook-servico);
    color: white;
}

.lp-background-assistencia-tablet-celular {
    background: var(--tablet-celular-servico);
    color: white;
}

.lp-background-assistencia-projetor {
    background: var(--projetor-servico);
    color: white;
}

.lp-background-assistencia-fonte {
    background: var(--fonte-servico);
    color: white;
}

.lp-background-assistencia-tv-monitor {
    background: var(--tv-monitor-servico);
    color: white;
}

.lp-background-assistencia-impressora {
    background: var(--impressora-servico);
    color: white;
}

.lp-background-assistencia-nobreak {
    background: var(--nobreak-servico);
    color: white;
}

.lp-background-assistencia-apple {
    background: var(--apple-servico);
    color: white;
}

.lp-itens-assistencia li {
    font-size: 15px;
}

.lp-titulo-servico-assistencia {
    font-size: 12px;
}

/* ------------ MENU ASSISTÊNCIA TÉCNICA END------------*/

/* ------------ TOPMENU LIDERPRO------------*/


.lp-btn-liderpro {
    background: var(--azul);
    color: white;
    text-transform: uppercase;
    width: 150px;
    text-align: center;
}

.lp-btn-liderpro:hover {
    color: var(--azul);
    background-color: white;
    border: 1px solid var(--azul);
}

.lp-btn-liderpro-active {
    color: white;
    background-color: var(--rodape);
    /* border: 1px solid var(--azul); */
}

.lp-btn-liderpro-info {
    color: white;
    background-color: var(--azul);
    width: 150px;
    /* border: 1px solid var(--azul); */
}

.lp-btn-liderpro-info:hover {
    color: var(--azul);
    background-color: white;
    width: 150px;
    border: 1px solid var(--azul);
}

.lp-btn-liderpro-info-active {
    background: var(--rodape);
    color: white;
    width: 150px;
}

.lp-btn-liderpro-info-active:hover {
    background: white;
    color: var(--azul);
    width: 150px;
}



/* ------------ TOPMENU LIDERPRO END -----------*/

/* ------------ FORMULARIO CONTATO -----------*/

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #003399;
    outline: 0;
    font-size: 0.85rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 0.85rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.85rem;
    color: var(--cor-fonte-contatos);
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #003399, #003399);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #003399;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}


.label-mensagem {
    font-size: 0.85rem;
    color: var(--cor-fonte-contatos);
}

.campo-obrigatorio {
    color: var(--cor-fonte-contatos);
}

/* ------------ FORMULARIO CONTATO END -----------*/

/* ------------ BUTTON CONTATOS -----------*/
.lp-botao-enviar {
    align-items: center;
    background-color: var(--azul);
    border: 2px solid var(--azul);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: white;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.lp-botao-enviar:focus {
    color: white;
}

.lp-botao-anexo {
    align-items: center;
    background-color: var(--rodape);
    border: 2px solid var(--azul);
    box-sizing: border-box;
    color: var(--azul);
    cursor: pointer;
    display: inline-flex;
    fill: var(--azul);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.lp-botao-anexo:focus {
    color: var(--azul);
}

.lp-label-contato {
    color: var(--azul);
    font-size: 12px;
}

.lp-mapa-contatos {
    border: solid 1px var(--azul);
}


/* ------------ BUTTON CONTATOS END -----------*/

/* ------------ BUTTON ASSISTENCIA -----------*/

.lp-botao-fotos-assistencia {
    align-items: center;
    background-color: var(--rodape);
    border: 2px solid var(--rodape);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    fill: var(--azul);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.lp-botao-fotos-assistencia:focus {
    color: white;
}

.lp-ul-assistencia li {
    color: var(--azul);
    font-weight: 700;
    font-size: 16px;
}

.lp-li-assistencia-titulo {
    text-decoration: underline;
    color: var(--azul);
    font-weight: 700;
    font-size: 16px;
}


/* ------------ BUTTON ASSISTENCIA END -----------*/

.lp-caixa-preview {
    border: 1px solid black;
    width: 202px;
    height: 142px;
}

/* ------------ LOGOS -----------*/

.lp-logos-clientes {
    max-height: 140px;
    max-width: 200px;
}

.lp-remove-decoration {
    text-decoration: none;
    cursor: pointer !important;
    color: var(--azul);
}

.lp-container-logos {
    border-radius: 30px 30px 0 0;
    border: 3px solid var(--azul);
    border-bottom: none;
}

.lp-container-logos-avancado {
    border-radius: 10px;
    border: 3px solid var(--azul);
    height: 150px;
    max-height: 150px;
}

#divResultadoAjaxAlteraCorSegmento {
    max-height: 150px;
}

/* ------------ LOGOS END -----------*/


.lp-parcerias {
    max-height: 140px;
    max-width: 200px;
}

.lp-opcao-segmento-active {
    color: var(--rodape);
}

.lp-opcao-letra-active {
    color: var(--rodape);
}


@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot') format('embedded-opentype'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    /* speak: never; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-lupa_menu:before {
    content: "\e902";
    font-size: large;
}

.icon-facebook_logo:before {
    content: "\e900";
    font-size: large;
}

.icon-login_usuario:before {
    content: "\e901";
    font-size: large;
}

.img_login-logado {
    color: var(--rodape);
}